body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.carrusel {
    width: 90%;
}

.carrusel__container {
    height: 220px;
    padding-top: 20px;
    display: flex;
    align-items: flex-start;
    transition: transform 0.3s, height 0.3s;
}

.carrusel__container.hover{
    height: 358px;
}

.carrusel__slide {
    position: relative;
    transition: transform 0.3s;
}

.carrusel__slide.hover {
    transform: scale(1.1);
}

.carrusel__slide.hover .carrusel__info-container {
    border: none;
    background-color: transparent;
    transform: translateY(60px);
}

.carrusel__slide.hover .carrusel__doctor-nombre {
    font-size: 16px;
}

.carrusel__slide.hover .carrusel__especialidad {
    font-weight: 700;
    color: #a9bef0;
}

.carrusel__slide.hover .carrusel__description {
    opacity: 1;
}

.carrusel__slide.hover .carrusel__slider-container {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 2px solid #b2b4ef;
    overflow: hidden;
}

.carrusel__slider-container {
    width: 190px;
    margin: 0 auto;
}

.carrusel__info-container {
    width: 180px;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: white;
    border: 2px solid #a0a0a0;
    border-radius: 5px;
    padding: 8px 10px;
    text-align: center;
    position: relative;
    bottom: 58px;
    transition: border 0.3s, transform 0.3s;
}

.carrusel__doctor-nombre,
.carrusel__especialidad {
    font-family: "Karla", sans-serif;
    color: #151515;
    margin: 0;
}

.carrusel__doctor-nombre {
    font-weight: 700;
    font-size: 14px;
}

.carrusel__especialidad {
    font-weight: 600;
    font-size: 12px;
}

.carrusel__description {
    color: #151515;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: 180px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 8px 10px 0;
    font-family: "Karla", sans-serif;
    font-size: 11px;
    position: relative;
    bottom: 7px;
    opacity: 0;
    transition: opacity 0.3s;
}

.carrusel__link{
    text-decoration: none;
}

.carrusel__link:visited .carrusel__description{
    color: #151515;
}

.carrusel__link:active .carrusel__description{
    color: #151515;
}

.carrusel__link--two{
    width: 100%;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    font-family: "Karla", sans-serif;
    color: #151515;
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    opacity: 0;
    transition: opacity .3s;
}

.carrusel__slide.hover .carrusel__link--two {
    opacity: 1;
}

.carrusel__link--two:visited .carrusel__description{
    color: #151515;
}

.carrusel__link--two:active .carrusel__description{
    color: #151515;
}

@media screen and (min-width: 768px) {
    .carrusel__container:hover {
        height: 358px;
    }

    .carrusel__slide:hover {
        transform: scale(1.1);
    }

    .carrusel__slide:hover .carrusel__info-container {
        border: none;
        background-color: transparent;
        transform: translateY(60px);
    }

    .carrusel__slide:hover .carrusel__doctor-nombre {
        font-size: 16px;
    }

    .carrusel__slide:hover .carrusel__especialidad {
        font-weight: 700;
        color: #a9bef0;
    }

    .carrusel__slide:hover .carrusel__description {
        opacity: 1;
    }

    .carrusel__slide:hover .carrusel__slider-container {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border: 2px solid #b2b4ef;
        overflow: hidden;
    }

    .carrusel__slide:hover .carrusel__link--two {
        opacity: 1;
    }
}
